@model IEnumerable<Web.Models.Part>
<h2>ModelName List</h2>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Part Name</th>
        <th>Condition</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.PartName</td>
            <td>@item.PartCondition</td>
            <td>@item.Price</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Create New</a>